extends layout


block content
  link(rel="stylesheet", href="/stylesheets/homepage.css")
  link(rel="stylesheet", href="/stylesheets/uploaderButton.css")
  script(src="javascripts/homescript.js")

  form(id="getPiousForm", style="visibility: hidden")
    input(id="piousFile", type="file" name="piousFile")
    input(id="submit", type="submit" value="piousUpload")

  include homeBlock.html
