<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Pious Piper</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Pious Piper</h1>
            <h2>A Lossless Data Compression Service to Change Your World</h2>
        </div>

        <div class="content">
          <form id="fileForm" action="/upload" method="POST" enctype="multipart/form-data">

               <input type="file" name="uncompressedFile">
               <p>
                   <input id="submitFileForm" type="submit" value="Get Pious!">
               </p>

          </form>



            <h2 class="content-subhead">How to use Pious Piper</h2>
            <p>
                To get started, simply submit a .txt file using the form above! A few moments later you will recieve your compressed .pious file. <b>It's really that easy!</b>
            </p>

                <h3>Decompressing a .pious file</h3>

                <p>
                    Converting .pious files to .txt has been made easy!
                    <br/>Simply click <a href="#">here<a/> and use the two-click form to get‹ your file.
                </p>




            <div class="pure-g">
                <div class="pure-u-1-3">
                    <img class="pure-img-responsive" src="images/third.jpg" alt="T-Shirt Store">
                </div>

                <div class="pure-u-1-3">
                    <img class="pure-img-responsive" src="images/first.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-3">
                    <img class="pure-img-responsive" src="images/second.jpg" alt="Train">
                </div>
            </div>

        </div>
    </div>
</div>
